version: 2
jobs:
  build:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:2.2
    steps:
      - checkout
      - run: cd src && dotnet build Castle.Net -c Release -f netstandard2.0
      - run: cd src && dotnet test Tests